/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("trap.jpg");

  background-repeat: no-repeat;
  background-size:cover;

}
 h1{
  text-align: center;
  position: absolute;
color: #0a0a0ac5;
bottom: 10px;
left: 2%;
transform:translateX(-50);
font-size:30px;
font-family: cursive;


}

.container {
  width: 400px;
  height: 100vh;
  float: right;
  background: #111111;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color:  rgb(248, 240, 240);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 300px;
  margin: 10px 0;
  padding: 12px;
  background-color: #353535;
  color: white;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
  \
}

input:focus {
  border-color: #2575fc;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

button {
  margin-top: 15px;
  padding: 12px;
  background: #f30000;
  color: #ffffff;
  border: none;;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1b5edc;
}

.toggle {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.toggle a {
  color: #2575fc;
  font-weight: bold;
  text-decoration: none;
}

.toggle a:hover {
  text-decoration: underline;
}

/* Hide the signup form by default */
.hidden {
  display: none;
}

#loginform{
  align-items: center;
  justify-content: center;

}
